@page "/pedelside"
@using test_projekt.Shared.Models;
@using test_projekt.Client.Services;
@using test_projekt;

<PageTitle>Bookinger</PageTitle>

<h1>Pedel side</h1>
<style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
@foreach (var item in Bookings)
{
    <table>
        <tr>
            <th>Shelter:</th>
            <td>@item.ValgtShelter</td>
        </tr>
        <tr>
            <th>Navn:</th>
            <td>@item.Navn</td>
        </tr>
        <tr>
            <th>Email:</th>
            <td>@item.Email</td>
        </tr>
        <tr>
            <th>Booked:</th>
            <td>@item.StartDato Til: @item.SlutDato</td>
        </tr>
        </table>
        <br />
}
@code {
    private List<BrugerBooking> Bookings = new List<BrugerBooking>();
    private EditContext EditContext;
    private BrugerBooking brugerBooking = new BrugerBooking();
    private int ErrorCode { get; set; } = 0;

    [Inject]
    public IBookingService BookingService { get; set; }

    /*
    protected override void OnInitialized()
    {
        EditContext = new EditContext(brugerBooking);
    }
    */

    protected override async Task OnInitializedAsync()
    {
        Bookings = (await BookingService.GetAllBookings()).ToList();
    }
}
