@using test_projekt.Shared.Models;
@using test_projekt.Client.Services;

@page "/booking"

<PageTitle>Booking Side</PageTitle>

<h1>Shelterbooking i Århus</h1>

<p>

    @foreach (var item in Items)
    {
    <p>
        <b>Navn: </b>@item.Property.Navn
        <br>
        <b>Beskrivelse:</b> @item.Property.Beskrivelse
        <br>
        <b>Adresse:</b> @item.Property.Vejnavn @item.Property.HusNr
        <br>
        <b>Antal pladser:</b> @item.Property.AntalPladser
       
    </p>
}

    </p>

    @code {
        private List<Shelter> Items = new List<Shelter>();

        [Inject]
        public IBookingService Service { get; set; }



        protected override async Task OnInitializedAsync()
        {
            Items = (await Service.GetAllItems()).ToList();
        }
    }
